
$backgroundColor: lightgrey;

body {
  background-color: $backgroundColor;
}

.count-down {
  border: 1px solid black;
  height: 250px;
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}


.navBar {
  width: 100%;
  border: 1px solid black;
  margin-top: 2%;
  // padding-right: 5%;
  height: 45px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

  }
}






.grid-container {
  .grid-item1 {
    grid-area: menu;
    background-color: black;
  }
  .grid-item2 {
    grid-area: top;
    background-color: red;
  }
  .grid-item3 {
    grid-area: bottom;
    background-color: blue;
  }
  padding-top: 20px;
  display: grid;
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  width: 100%;
  height: 800px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    'menu menu top'
    'menu menu top'
    'menu menu bottom'
    'menu menu bottom';
  .grid-item {
    border: 1px solid black;
  }
}

p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
.media-coverage{
  display: grid;
  .review-1 {
    grid-area: header;

  }
  .review-2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .review-3 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .review-4 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .review-5 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .review-6 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .review-7 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 1.5fr 1.5fr;

  grid-template-areas:
    'header header header';
    .reviews {
      border: 1px solid white;
    }

}
